@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@keyframes shakeX {
  0%, 100% { transform: translateX(0); }
  25% { transform: translateX(-2.25px); }
  75% { transform: translateX(2.25px); }
}

.hover-shake:hover {
  animation: shakeX 0.01s linear infinite;
}


